{% extends 'base.html' %}

{% block title %} ログイン | CJ Django Study {% endblock %}

{% block content %}
<div class="py-4 text-center">
    <h1>Log In</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form.as_p }}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}

        <button class="btn btn-primary" type="submit">ログイン</button>
        <p><a href="{% url 'account_reset_password' %}" class="button secondaryAction">パスワードを忘れましたか？</a></p>
    </form>
</div>
{% endblock %}