{% extends "base.html" %}

{% block tab_title %} {{ tab_title }} {% endblock %}

{% block contents %}
<div class="container" style="margin-top: 15%;">
    <div class="row">
        <div class="col shadow">
            {% if method == "GET" %}
                <div class="text-center">
                    <p class="display-6">本当に「<strong>{{ data_name }}</strong>」を削除しますか？</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-danger" style="padding: 1.5% 5%;">削除</button>
                    </div>
                </form>
            {% endif %}

            {% if method == "POST" %}
                
                <div class="text-center">
                    <p class="display-6">{{ message }}</p>
                </div>

                <div style="text-align: center;">
                    <a href="/" class="btn btn-primary" style="padding: 1.5% 5%;">ホーム</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}