@charset 'utf-8';

html {
    height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.masthead {
    width: 100%;
    height: auto;
    position: relative;
    display: table;
    min-height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/english_pic4.jpg');
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.align-items-center {
    align-items: center !important;
}

.masthead h1 {
    color: black;
    font-size: 5rem;
    font-weight: 900;
    padding-bottom: 3rem;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-dark {
    color: white;
    background-color: black;
    border-color: black;
    padding: 0.5rem 2rem;
}

.interval {
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

.table {
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
}

footer {
    position: sticky;
    top: 100vh;
    width: 100%;
  }